* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

body {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.calculator {
    padding: 15px;
    box-shadow: 0 0 15px #000;
    border: 2px solid rgb(116, 114, 114);
    border-radius: 15px;
}

.display input {
    width: 360px;
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    background: transparent;
    color: white;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}

input::placeholder {
    color: white;
}

button {
    width: 70px;
    height: 70px;
    margin: 10px;
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 50%;
    box-shadow: -7px -2px 15px black;
    outline: 1px solid rgb(67, 67, 67);
    outline-offset: 3px;
    cursor: pointer;
}

button:active {
    color: black;
    transform: translate(2px, 3px);
}

.operator {
    color: rgb(19, 185, 219);
    background: rgb(29, 29, 29);
    font-weight: 700;
}

#eqaulBtn {
    background: rgb(76, 88, 195);
    font-weight: 1000;
}